# UE generate
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/
Content/Interaction/

**/Assets
**/LevelPrototyping
**/TopDown
**/Variant_Strategy
**/Variant_TwinStick
**/Cursor
**/Maps
**/__ExternalActors__
**/SciFi_BioLaboratory
**/IdaFaber

# Compiler 
.idea/
.vs/
.vscode/
*.sln.DotSettings
*.user

# Others
*.log
*.bak
*.tmp
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Thumbs.db

*.zip
*.7z
*.rar
*.iso
*.tar



